@import 'mixins';
@import 'buttons';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet');
@import 'style';
@import "~bootstrap/scss/bootstrap";

// /* HTML5 display-role reset for older browsers */

* {
  box-sizing: border-box;
}

html {
//   font-size: 62.5%;
//   height: 100vh;
//   margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p,
div {
  line-height: 1.5;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

// // *** Custom Styling ** //

a, div, h1 {
  font-family: "Titillium Web";
}


a, a:focus, a:hover {
  color:#fff;
}

.center-text {
  text-align: center;
}

.bg-secondary {
  background: #{$secondary-dark};
}
// .hide { 
//   display: none;
// }

.landing-heading {
  font-family: "Titillium Web";
  font-weight:400;
}

.nav-bar-text {
  font-size: #{$nav-text};
  color: #{$text-on-prim};
  border: 2px solid black;
  border-radius: 2px 2px 2px 2px;
  align-content: center;
  text-decoration: none;
}

nav {
  height: 33%;
  position: relative;
}

.bg-primary {
  background-color: #{$primary-color};
}

.primary-color {
  background-color: #{$primary-color};
}

.w-20pc {
  width: 20%;
}

.full-width {
  width: 100%;
}
.text-primary {
  color: #{$text-on-prim};
}

.primary-dark {
  background-color: #{$primary-dark};
}


.flex-row-even {
  @include flex-row(row, space-evenly);
}

// .flex-row-even {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

.flex-column-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexrow-between-align-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.self-center {
  align-items: center;
}

.site-name {
  width: 35%;
  font-size: 3.7rem;
  color: black;
  // height: 100%;
  // box-sizing: border-box;
  border-right: 2px solid black;
  // box-shadow: 20px 0px 0px 0px rgb(179, 180, 180) , 43px 0px 0px 0px rgb(218, 184, 238), 57px 0px 0px 0px rgb(221, 221, 221);
}

.blockstack-sign-in {
  height: 3em;
  border-radius: 2px;
}

.full-vh {
  height: 100vh;
}

.site-name-shadow {
  text-shadow: -20px 30px 0px #bdbdbd, -40px 60px 1px #ede7f6, -60px 90px 2px #1f1c1c;
  // text-shadow: -25px 40px 0px #bdbdbd, -50px 80px 0px #ede7f6, -80px 100px 0px #efefef;
  color: #FFFFFF;
  text-align: center;
}

.sn-shadow-micro {
  font-size: 1rem;
  text-shadow: -20px 12px 0px #bdbdbd, -40px 22px 1px #ede7f6, -60px 32px 2px #1f1c1c;
  color: #FFFFFF;
  text-align: center;
}



.lttr-spacing {
  letter-spacing: 10px;
}

.full-height {
  height: 100%;
}




.border-test {
  border: 2px solid red;
}

.w-30-pc {
  width: 30%;
}

.h-70 {
  height: 70%;
}

.constrain-width {
  // width: 66%;
  align-items: center;
  align-self: center;
  align-content: center;
}




.bg-image {
  background: url('https://images.unsplash.com/photo-1562087477-ecddd8d5b321?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.jumbo-text {
  font-size: #{$jumbo-text};
}