@import 'mixins';
@import 'style';
@import 'buttons';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p,
div {
  line-height: 1.5;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

// *** Custom Styling ** //

a, a:focus, a:hover {
  color:#fff;
}

.center-text {
  text-align: center;
}

html, body {
  height: 100%; 
  background-color:#F4F4FC;
}
body {
  height: 100vh;
}

.hide { 
  display: none;
}

.landing-heading {
  font-family:'Source Code Pro', monospace; 
  font-weight:400;
}

.nav-bar-text {
  font-size: #{$nav-text};
  color: #{$text-on-prim};
  border: 2px solid black;
  border-radius: 2px 2px 2px 2px;
}

nav {
  height: 20%;
}

.bg-primary {
  background-color: #{$primary-color};
}

.primary-color {
  background-color: #{$primary-color};
}

.w-20pc {
  width: 20%;
}

.full-width {
  width: #{$full-width};
}
.text-primary {
  color: #{$text-on-prim};
}

.primary-dark {
  background-color: #{$primary-dark};
}


.flex-row-between {
  @include flex-row(row, space-evenly);
}

.flex-row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-column-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexrow-around-align-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.test-sass {
  color: $primary-color;
  // background: $secondary-dark;
  background-color: #{$primary-color};
}

.site-name {
  width: 33%;
  font-size: 5rem;
  color: black;
  box-shadow: -5px 5px 0px 0px #289FED, -10px 10px 0px 0px #5FB8FF, -15px 15px 10px 0px #bdbdbd;
}

.blockstack-sign-in {
  height: 3em;
  border-radius: 2px;
}

.full-vh {
  height: 100vh;
}

.site-name-shadow {
  text-shadow: -5px 10px 0px #bdbdbd, -10px 20px 0px #ede7f6, -15px 30px 0px #bbb5c3;
  color: #FFFFFF;
}

.nav-wrapper {
  height: 20%;
}

.lttr-spacing {
  letter-spacing: 10px;
}