@import "variables";

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-row($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}