$primary-color: "#ede7f6";
$primary-light: "#ffffff";
$primary-dark: "#bbb5c3";
$secondary-color: "#bdbdbd";
$secondary-light: "#efefef";
$secondary-dark: "#8d8d8d";
$text-on-prim: "#000000";
$text-on-sec: "#000000";